[user]
	name = Christian Köhn

[alias]
	amend = commit --amend
	uncommit = reset --soft HEAD^
	unstage = reset HEAD

[color]
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[commit]
	gpgsign = true

[core]
	excludesfile = ~/.gitignore.local
	pager = diff-so-fancy | less --tabs=4 -RFX

[diff]
	algorithm = patience

[merge]
	conflictstyle = diff3
	ff = false
	summary = true
	tool = vimdiff
	verbosity = 1

[mergetool]
	keepBackup = false
	prompt = false

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	default = simple
	followTags = true

[rerere]
	enabled = true

[include]
	path = ~/.gitconfig.local
