[global_config]
  always_split_with_profile = True
  title_hide_sizetext = True
  title_inactive_bg_color = "#1e1e1e"
  title_inactive_fg_color = "#868686"
  title_transmit_bg_color = "#3b3b3b"
[keybindings]
  go_down = <Alt>j
  go_left = <Alt>h
  go_right = <Alt>l
  go_up = <Alt>k
  layout_launcher = None
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = Gruvbox Dark
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
    font = Source Code Pro 9
    scrollback_infinite = True
    use_system_font = False
  [[Gruvbox Dark]]
    background_color = "#1e1e1e"
    cursor_color = "#bbbbbb"
    font = Source Code Pro 9
    foreground_color = "#e6d4a3"
    palette = "#161819:#f73028:#aab01e:#f7b125:#719586:#c77089:#7db669:#faefbb:#7f7061:#be0f17:#868715:#cc881a:#377375:#a04b73:#578e57:#e6d4a3"
    scrollback_infinite = True
    use_system_font = False
  [[Gruvbox Dark/FiraCode]]
    background_color = "#1e1e1e"
    cursor_color = "#bbbbbb"
    font = Fira Code 9
    foreground_color = "#e6d4a3"
    palette = "#161819:#f73028:#aab01e:#f7b125:#719586:#c77089:#7db669:#faefbb:#7f7061:#be0f17:#868715:#cc881a:#377375:#a04b73:#578e57:#e6d4a3"
    scrollback_infinite = True
    use_system_font = False
  [[Gruvbox Dark/Hack]]
    background_color = "#1e1e1e"
    cursor_color = "#bbbbbb"
    font = Hack 9
    foreground_color = "#e6d4a3"
    palette = "#161819:#f73028:#aab01e:#f7b125:#719586:#c77089:#7db669:#faefbb:#7f7061:#be0f17:#868715:#cc881a:#377375:#a04b73:#578e57:#e6d4a3"
    scrollback_infinite = True
    use_system_font = False
  [[Snazzy]]
    background_color = "#1e1f29"
    cursor_color = "#e4e4e4"
    font = Source Code Pro 9
    foreground_color = "#ebece6"
    palette = "#000000:#fc4346:#50fb7c:#f0fb8c:#49baff:#fc4cb4:#8be9fe:#ededec:#555555:#fc4346:#50fb7c:#f0fb8c:#49baff:#fc4cb4:#8be9fe:#ededec"
    scrollback_infinite = True
    use_system_font = False
  [[Snazzy/Hack]]
    background_color = "#1e1f29"
    cursor_color = "#e4e4e4"
    font = Hack 9
    foreground_color = "#ebece6"
    palette = "#000000:#fc4346:#50fb7c:#f0fb8c:#49baff:#fc4cb4:#8be9fe:#ededec:#555555:#fc4346:#50fb7c:#f0fb8c:#49baff:#fc4cb4:#8be9fe:#ededec"
    scrollback_infinite = True
    use_system_font = False
